<title>networkequipment</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
<link href="https://cdn.shopify.com/s/files/1/0340/2439/0795/files/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="https://cdn.shopify.com/s/files/1/0340/2439/0795/files/menu.css" rel="stylesheet" type="text/css">
<link href="https://cdn.shopify.com/s/files/1/0340/2439/0795/files/list.css" rel="stylesheet" type="text/css">
<link href="https://cdn.shopify.com/s/files/1/0340/2439/0795/files/listing-responsive.css" rel="stylesheet" type="text/css" media="screen">
<style>
thead:first-child > tr:first-child > th {
text-align: center;
}
</style>
<div class="pst-main">
<header id="pst-header">
<div class="pst-clear"></div>
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-6 col-xs-12">
<center>
<div class="pst-logo"> <a href="http://www.ebaystores.com/networkequipment" title=""><img style="max-width:350px;padding:10px;float: left;" src="https://cdn.shopify.com/s/files/1/0340/2439/0795/files/Logo_design.png?v=1582321928" alt="" class="img-responsive"></a> </div>
</center>
</div>
<div class="col-md-2 col-sm-2 col-xs-4">
<center><img style="max-width:126px;" src="https://z-dzine.com/all-content/customers/networkequipment/small3.png"/></center>
</div>
<div class="col-md-2 col-sm-2 col-xs-4">
<center><img style="max-width:126px;" src="https://z-dzine.com/all-content/customers/networkequipment/small1.png"/></center>
</div>
<div class="col-md-2 col-sm-2 col-xs-4">
<center><img style="max-width:126px;" src="https://z-dzine.com/all-content/customers/networkequipment/small2.png"/></center>
</div>
</div>
</div>
<div class="pst-clear"></div>
<div class="menu-bg">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<nav id="menu">
<input id="toggle-nav" type="checkbox"><label id="toggle-nav-label" for="toggle-nav"></label>
<div class="box">
<ul>
<li><a href="http://www.ebaystores.com/networkequipment"><i class="fa fa-home"></i>HOME</a></li>
<li><a href="http://www.ebaystores.com/networkequipment/About-Us">About Us</a></li>
<li><a href="http://www.ebaystores.com/networkequipment/Shipping">Shipping</a></li>
<li><a href="http://www.ebaystores.com/networkequipment/Warranty">Warranty</a></li>
<li><a href="http://www.ebaystores.com/networkequipment/_i.html?rt=nc&amp;_sc=1&amp;_sid=1830691286&amp;_sticky=1&amp;_trksid=p4634.c0.m14&amp;_sop=10&amp;_sc=1">New Arrivals</a></li>
<li><a href="http://www.ebaystores.com/networkequipment/_i.html?rt=nc&amp;_sc=1&amp;_sid=1830691286&amp;_sticky=1&amp;_trksid=p4634.c0.m14&amp;_sop=1&amp;_sc=1">Ending Items</a></li>
<li><a href="http://contact.ebay.com/ws/eBayISAPI.dll?ReturnUserEmail&amp;requested=networkequipment&amp;frm=3692&amp;iid=-1&amp;de=off&amp;redirect=0">Contact Us</a></li>
</ul>
</div>
</nav>
</div>
</div>
</div>
</div>
</header>
<div class="pst-clear"></div>
<div class="container">
<div class="listing-area">
<div class="gal-desc-part">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<center>
<h4>{Title}</h4>
</center>
<br>
<div class="gal-container">
<div class="slider">
<input name="slide_switch" id="id1" checked="checked" type="radio">
<label for="id1"> <img src="{CDNUrl}/productimages/{ProductID}.png" alt=""> </label>
<img src="{CDNUrl}/productimages/{ProductID}.png" alt="">
{for Images count=1 start={1}}
<input name="slide_switch" id="id2" type="radio">
<label for="id2"> <img src="{cdnurl}{images.src}" alt=""> </label>
<img src="{cdnurl}{images.src}" alt="">
{/for}
{for Images count=1 start={2}}
<input name="slide_switch" id="id3" type="radio">
<label for="id3"> <img src="{cdnurl}{images.src}" alt=""> </label>
<img src="{cdnurl}{images.src}" alt="">
{/for}
{for Images count=1 start={3}}
<input name="slide_switch" id="id4" type="radio">
<label for="id4"> <img src="{cdnurl}{images.src}" alt=""> </label>
<img src="{cdnurl}{images.src}" alt="">
{/for}
</div>
</div>
</div>
</div>
</div>
</div>
<div class="v4title">
<h2>Product Description</h2>
</div>
<div class="desc-container">
<div class="desc-box">
<div style="border:1px solid #ddd; padding:15px;margin-bottom:15px;" class="text-regullar">
{include field="EbayDescription"}
</div>
</div>
</div>
<div class="v4title">
<h2>Order Fulfillment</h2>
</div>
<div class="desc-container">
<div class="desc-box">
<div style="border:1px solid #ddd; padding:15px;margin-bottom:15px;" class="text-regullar">
<ul>
<li>Item will be shipped immediately after receiving full payment<br /> (Often same day, depending on the time of day payment is received)</li>
<li>Blind Drop Shipments are our specialty. All blind shipments will only contain your Company information, packing slip, ship-from address on the labels. (you may have already received products from us even when you bought from our competition)</li>
<li>All equipment is professionally packed and insured in double-walled boxes with adequate internal foam protection</li>
<li>Larger chassis are shipped in specifically made, secure, wooden, shipping crates or palletized for safe delivery</li>
<li>Contact us before buying if you need an emergency - faster than ground - shipment</li>
<li>Our Warehouse and Customer Care offices are located in Oklahoma City, OK USA</li>
<li>We reply to eBay questions 9 am to 5 pm Central US - Monday to Friday</li>
<li>Our Shipping cutoff is 3 pm Central US</li>
</ul>
</div>
</div>
</div>
<div class="v4title">
<h2>Accessories</h2>
</div>
<div class="desc-container">
<div class="desc-box">
<div style="border:1px solid #ddd; padding:15px;margin-bottom:15px;" class="text-regullar">
<ul>
<li>All equipment sold will include the standard accessories to immediately be able to install equipment and place in production</li>
<li>RACKMOUNTS: All standard 19-inch rack-mountable equipment include the necessary rackmount brackets and screws</li>
<li>POWER CABLES: A standard US power cable is included with each 110-120v AC unit</li>
<li>EXTERNAL POWER SUPPLIES: The necessary external power supply will be included with each order. Unless the order is for equipment in which the power supply is optional (ex: Cisco PoE devices, phones, wireless APs, cameras) and not standard</li>
<li>Exceptions to this list would be any AS-IS or Parts Only auctions and disclosures in the auction listing.</li>
</ul>
</div>
</div>
</div>
<div class="v4title">
<h2>Warranty</h2>
</div>
<div class="desc-container">
<div class="desc-box">
<div style="border:1px solid #ddd; padding:15px;margin-bottom:15px;" class="text-regullar">
<ul>
<li>NetworkEquipment.net provides a full 1-year warranty for end-user customers who purchased the product directly from NetworkEquipment.net</li>
<li>Brokers and Resellers will receive a standard 30-day warranty</li>
<li>Items listed for sale 'As Is' carry no warranty with their purchase</li>
<li>This warranty does not cover Software products, Key Codes, Manufacturer's Extended Warranty or Service/Support  Agreements, Registration, or Serial Number Transfer of Ownership</li>
<li>We are unaware of the status of any licenses that may be required to properly use this item. Installation, updates, renewal, and acquisition of licenses will be the responsibility of the new owner.</li>
</ul>
</div>
</div>
</div>
</div>
<div class="pst-clear"></div>
<div class="pst-footer">
<div class="f-promo-bg">
<div class="container">
<div class="row">
<div class="col-md-4 col-sm-4 col-xs-12">
<div class="f-promo">
<div class="f-promo-box">
<span class="icon-box"><img src="https://www.z-dzine.com/all-content/customers/networkequipment/promo-img-1.png" alt=""></span>
<span class="f-promo-text">
FAST SHIPPING<br>
<p>on most items</p>
</span>
</div>
</div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
<div class="f-promo">
<div class="f-promo-box">
<span class="icon-box"><img src="https://www.z-dzine.com/all-content/customers/networkequipment/promo-img-2.png" alt=""></span>
<span class="f-promo-text">
TRUSTED STORE<br>
<p>satisfaction guarantee</p>
</span>
</div>
</div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
<div class="f-promo">
<div class="f-promo-box">
<span class="icon-box"><img src="https://www.z-dzine.com/all-content/customers/networkequipment/promo-img-3.png" alt=""></span>
<span class="f-promo-text">
SECURE SHOPPING<br>
<p>buy with confidence</p>
</span>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="pst-clear"></div>
<div class="container">
<div class="row">
<div class="col-md-4 col-sm-4 col-xs-12 visible-desktop">
<div class="f-row-head">Quick Links</div>
<div class="f-quick-link">
<ul>
<li><a href="http://www.ebaystores.com/networkequipment/Payment">- Payment Details</a></li>
<li><a href="http://www.ebaystores.com/networkequipment/Shipping">- Shipping Details</a></li>
<li><a href="http://www.ebaystores.com/networkequipment/Warranty">- Warranty</a></li>
<li><a href="http://www.ebaystores.com/networkequipment/About-Us">- About Us</a></li>
<li><a href="http://contact.ebay.com/ws/eBayISAPI.dll?ReturnUserEmail&amp;requested=networkequipment&amp;frm=3692&amp;iid=-1&amp;de=off&amp;redirect=0">- Contact Us</a></li>
</ul>
<ul>
<li><a href="http://www.ebaystores.com/networkequipment/">- Store Home</a></li>
<li><a href="http://my.ebay.com/ws/eBayISAPI.dll?AcceptSavedSeller&amp;sellerid=networkequipment">- Add to Favorites</a></li>
<li><a href="http://www.ebaystores.com/networkequipment/_i.html?rt=nc&amp;_sid=731211852&amp;_sticky=1&amp;_trksid=p4634.c0.m14&amp;_sop=10&amp;_sc=1">- New Arrivals</a></li>
<li><a href="http://www.ebaystores.com/networkequipment/_i.html?rt=nc&amp;_sid=731211852&amp;_sticky=1&amp;_trksid=p4634.c0.m14&amp;_sop=1&amp;_sc=1">- Ending Soon</a></li>
<li><a href="http://feedback.ebay.com/ws/eBayISAPI.dll?ViewFeedback2&amp;userid=networkequipment&amp;rt=nc">- Feedback</a></li>
</ul>
</div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 visible-desktop">
<div class="f-row-head">Payment Options</div>
<div class="f-payment">
<li>Secure Payments by </li>
<img src="https://www.z-dzine.com/all-content/customers/networkequipment/paypal.png" class="img-responsive" alt="">
</div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 visible-desktop">
<div class="newslatter">
<div class="f-row-head">Store Newsletter</div>
<div class="pst-address">
<p>Add Store to your Favorites and receive email newsletters about new items and special promotions!</p>
</div>
<div class="sign-up"><a href="http://my.ebay.com/ws/eBayISAPI.dll?AcceptSavedSeller&amp;sellerid=networkequipment">Sign Up Now</a></div>
</div>
</div>
</div>
<div class="pst-clear"></div>
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="pst-copyright">Copyright 2022 <span>Network Equipment</span></div>
</div>
</div>
</div>
</div>
</div>